.nav-bar {
  display: grid;
  background-color: rgb(51, 51, 51);
  color: white;
  grid-template-columns: 1fr 1fr;
  color: white;
  align-items: center;
  padding: 10px;
  grid-auto-columns: 10px;
  height: 40px;
}

.nav-title h1 {
  margin: 0;
  font-size: 1.5em;
  display: inline;
}

.nav-bar a {
  margin-right: 10px;
  text-decoration: none;
}

.nav-bar a:visited {
  color: white;
}

.nav-links {
  text-align: right;
}

.nav-links-resp {
  display: none;
}

@media (min-width: 1025px){
  .nav-links {
    display: none;
  }

  .nav-links-resp {
    display: block;
  }

  .nav-links-resp li {
    display: inline;
    margin-left: 10px;
    font-size: 1.2em;
  }

  .nav-links-resp li a:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  .nav-links-resp ul {
    text-align: right;
  }
}